body{
    margin: 0;
    height: 100vh;
}

.app{
    height: 60vh;



    display: grid;
    grid-template-columns: repeat(64, 2fr);
    grid-auto-rows: repeat(64, 2fr);
    gap: 1px 1px;
}

.app > div{
    font-size: 2px;
    overflow: hidden;
    border: 1px solid rgb(185, 22, 22);
    background-size: cover;
}